In [231]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [233]:
# df = pd.read_csv(r"D:\DEPI\Final Project\California Wildfire Damage.csv", encoding='utf-8-sig')
df = pd.read_csv(r"D:\DEPI\Final Project\California Wildfire Damage (1).csv", encoding='utf-8-sig')

In [235]:
df.head()

,Incident_ID,Date,Location,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $),Cause
0,INC1000,2020-11-22,Sonoma County,14048,763,474,235,70,19,2270.57,Lightning
1,INC1001,2021-09-23,Sonoma County,33667,1633,4,263,100,2,1381.14,Lightning
2,INC1002,2022-02-10,Shasta County,26394,915,291,31,50,6,2421.96,Human Activity
3,INC1003,2021-05-17,Sonoma County,20004,1220,128,34,28,0,3964.16,Unknown
4,INC1004,2021-09-22,Sonoma County,40320,794,469,147,0,15,1800.09,Unknown

In [237]:
df.tail()

,Incident_ID,Date,Location,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $),Cause
95,INC1095,2018-01-16,Mendocino County,13112,1468,46,281,89,17,4008.58,Human Activity
96,INC1096,2022-07-07,Shasta County,39209,710,282,189,34,14,376.72,Human Activity
97,INC1097,2016-05-18,Shasta County,11863,702,9,40,100,1,1474.78,Human Activity
98,INC1098,2014-06-24,Napa Valley,1338,1619,262,293,94,3,3308.74,Human Activity
99,INC1099,2021-03-20,Mendocino County,44299,1217,172,176,81,20,4276.78,Human Activity

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Incident_ID                           100 non-null    object
 1   Date                                  100 non-null    object
 2   Location                              100 non-null    object
 3   Area_Burned (Acres)                   100 non-null    int64
 4   Homes_Destroyed                       100 non-null    int64
 5   Businesses_Destroyed                  100 non-null    int64
 6   Vehicles_Damaged                      100 non-null    int64
 7   Injuries                              100 non-null    int64
 8   Fatalities                            100 non-null    int64
 9   Estimated_Financial_Loss (Million $)  100 non-null    float64
 10  Cause                                 100 non-null    object
dtypes: float64(1), int64(6), object(4)
memory usage: 8.7+ KB

In [241]:
df.describe()

,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $)
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,26531.460000,941.890000,251.570000,150.330000,42.040000,9.930000,2396.099300
std,14282.123824,543.019967,138.317761,88.471197,29.201467,5.682251,1430.439422
min,357.000000,18.000000,4.000000,5.000000,0.000000,0.000000,52.590000
25%,15916.250000,501.000000,134.750000,70.750000,16.000000,5.000000,1175.195000
50%,25618.000000,908.500000,256.500000,150.500000,37.000000,10.000000,2408.530000
75%,39775.000000,1401.750000,371.000000,229.750000,60.000000,14.250000,3662.110000
max,49653.000000,1968.000000,493.000000,300.000000,100.000000,20.000000,4866.990000

In [243]:
df.isna().sum()

Incident_ID                             0
Date                                    0
Location                                0
Area_Burned (Acres)                     0
Homes_Destroyed                         0
Businesses_Destroyed                    0
Vehicles_Damaged                        0
Injuries                                0
Fatalities                              0
Estimated_Financial_Loss (Million $)    0
Cause                                   0
dtype: int64

In [245]:
df['Incident_ID'].duplicated().sum()

0

In [247]:
# Convert the 'Date' column to datetime objects
df['Date'] = pd.to_datetime(df['Date'])

# Extract the 'Year' from the 'Date' column
df['Year'] = df['Date'].dt.year

# Extract the 'Month' from the 'Date' column
df['Month'] = df['Date'].dt.month

# Extract the 'Day' from the 'Date' column
df['Day'] = df['Date'].dt.day

# Print the first few rows of the new columns
print(df[['Date', 'Year', 'Month', 'Day']].head())

        Date  Year  Month  Day
0 2020-11-22  2020     11   22
1 2021-09-23  2021      9   23
2 2022-02-10  2022      2   10
3 2021-05-17  2021      5   17
4 2021-09-22  2021      9   22

In [249]:
# Strip spaces from column names
df.columns = df.columns.str.strip()

# Ensure 'Area_Burned (Acres)' is numeric
df['Area_Burned (Acres)'] = df['Area_Burned (Acres)'].astype(str).str.replace(',', '').str.strip()
df['Area_Burned (Acres)'] = pd.to_numeric(df['Area_Burned (Acres)'], errors='coerce')

# Convert to km² (1 acre = 0.00404686 km²)
df['Area_Burned (Km_Squared)'] = df['Area_Burned (Acres)'] * 0.00404686

# Display the first few rows
print(df[['Area_Burned (Acres)', 'Area_Burned (Km_Squared)']].head())

   Area_Burned (Acres)  Area_Burned (Km_Squared)
0                14048                 56.850289
1                33667                136.245636
2                26394                106.812823
3                20004                 80.953387
4                40320                163.169395

In [251]:
# Strip spaces from column names
df.columns = df.columns.str.strip()

# Ensure 'Area_Burned (Acres)' is numeric
df['Estimated_Financial_Loss (Million $)'] = df['Estimated_Financial_Loss (Million $)'].astype(str).str.replace(',', '').str.strip()
df['Estimated_Financial_Loss (Million $)'] = pd.to_numeric(df['Estimated_Financial_Loss (Million $)'], errors='coerce')

# Convert to km² (1 acre = 0.00404686 km²)
df['Estimated Financial Loss'] = df['Estimated_Financial_Loss (Million $)'] * 1000000

# Display the first few rows
print(df[['Estimated_Financial_Loss (Million $)', 'Estimated Financial Loss']].head())

   Estimated_Financial_Loss (Million $)  Estimated Financial Loss
0                               2270.57              2.270570e+09
1                               1381.14              1.381140e+09
2                               2421.96              2.421960e+09
3                               3964.16              3.964160e+09
4                               1800.09              1.800090e+09

In [253]:
df['Location'].unique()

array(['Sonoma County', 'Shasta County', 'Butte County',
       'San Diego County', 'Napa Valley', 'Riverside County',
       'Santa Barbara County', 'Los Angeles County', 'Mendocino County',
       'Orange County'], dtype=object)

In [255]:
df['Cause'].unique()

array(['Lightning', 'Human Activity', 'Unknown'], dtype=object)

In [267]:
# Define a function to categorize seasons accurately
def assign_season(row):
    month = row['Month']
    day = row['Day']
    
    if (month == 12 and day >= 21) or (month in [1, 2]) or (month == 3 and day < 20):
        return 'Winter'
    elif (month == 3 and day >= 20) or (month in [4, 5]) or (month == 6 and day < 21):
        return 'Spring'
    elif (month == 6 and day >= 21) or (month in [7, 8]) or (month == 9 and day < 23):
        return 'Summer'
    else:
        return 'Fall'

# Apply the function to create the 'Season' column
df['Season'] = df.apply(assign_season, axis=1)

# Display the first few rows with the new column
print(df[['Date', 'Month', 'Day', 'Season']].head())

        Date  Month  Day  Season
0 2020-11-22     11   22    Fall
1 2021-09-23      9   23    Fall
2 2022-02-10      2   10  Winter
3 2021-05-17      5   17  Spring
4 2021-09-22      9   22  Summer

In [271]:
df.head()

,Incident_ID,Date,Location,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $),Cause,Year,Month,Day,Area_Burned (Km_Squared),Estimated Financial Loss,Season
0,INC1000,2020-11-22,Sonoma County,14048,763,474,235,70,19,2270.57,Lightning,2020,11,22,56.850289,2.270570e+09,Fall
1,INC1001,2021-09-23,Sonoma County,33667,1633,4,263,100,2,1381.14,Lightning,2021,9,23,136.245636,1.381140e+09,Fall
2,INC1002,2022-02-10,Shasta County,26394,915,291,31,50,6,2421.96,Human Activity,2022,2,10,106.812823,2.421960e+09,Winter
3,INC1003,2021-05-17,Sonoma County,20004,1220,128,34,28,0,3964.16,Unknown,2021,5,17,80.953387,3.964160e+09,Spring
4,INC1004,2021-09-22,Sonoma County,40320,794,469,147,0,15,1800.09,Unknown,2021,9,22,163.169395,1.800090e+09,Summer